* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.homepage {
    height: 100vh;
    width: 100%;
}

.header {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 25px;
    padding-left: 12px;
    align-self: flex-start;
}

.header h1 span {
    color: orangered;
}

.header ul li {
    display: inline-block;
    margin: 0 35px;
}

.header ul li a {
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    transition: .6s all ease-in-out;
}

.header ul li a:hover {
    color: orangered;
}

.header i {
    display: none;
    font-size: 20px;
    margin-right: 10px;
}

.header i:hover {
    cursor: pointer;
}

.home-content {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-content h1 {
    font-size: 60px;
    color: black;
}

.home-content h1 span {
    color: orangered;
}

.home-content p {
    width: 60%;
    margin-top: 10px;
    font-size: 22px;
}

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about div {
    width: 45%;
}

.about .about-content {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.about-content h1 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.about-content header {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 15px;
}

.about-content p {
    font-size: 18px;
    margin: 8px 0px;
}

.about-content button {
    width: 150px;
    height: 40px;
    margin-top: 15px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    text-transform: capitalize;
    background-color: #023339;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: white;
    transition: .4s all ease-in-out;
}

.about-content button:hover {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 22px;
    border-bottom-right-radius: 22px;
    color: #023339;
    border: 1px solid black;
    background: transparent;
}

.about-image {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* .about-image img {
    width: 68%;
    height: 600px;
} */

.about-image img {
    width: 70%; /* Makes the image take full width of its container */
    height: auto; /* Maintains aspect ratio */
    max-width: 800px; /* Optional: limits the image width to avoid being too large on wide screens */
    object-fit: cover; /* Ensures the image covers the space while maintaining aspect ratio */
    border-radius: 10px; /* Optional: adds rounded corners */
}



.services {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-header h1 {
    font-size: 40px;
}

.service-header p {
    margin-top: 10px;
    font-size: 20px;
}

.service-content {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin-top: 30px;
}

.service-content .card {
    width: 31%;
    border-radius: 22px;
    cursor: pointer;
    border: 1px solid lightgray;
    transition: .7s all ease-in-out;
}

.service-content .card:hover {
    background: #023339;
}

.service-content .card:hover h1,
.service-content .card:hover p {
    color: white;
}

.service-content .card h1 {
    margin-top: 30px;
    text-transform: capitalize;
    font-weight: 600;
}

.service-content .card p {
    margin: 10px auto;
    width: 70%;
}

.numbers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.numbers div {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.numbers div h1 {
    color: orange;
    font-size: 70px;
}

.numbers div header {
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
}

.project-header {
    text-align: center;
    margin-bottom: 20px;
}

.project-header h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
}

.project-header header {
    text-transform: uppercase;
    color: orangered;
}

.project-content {
    width: 1200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

.project-content button {
    margin: 0px 10px;
    width: 60px;
    height: 40px;
    cursor: pointer;
    border: 0;
    background: transparent;
}

.image-container {
    width: 600px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    transition: .6s all ease;
}

.project-content .image-container:hover {
    scale: 1.03;
}

.image-container img {
    max-width: 100%;
    /* Ensure images don't exceed container width */
    height: auto;
    transition: transform 0.3s ease;
}

.image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .image-overlay {
    opacity: 1;
}

.our-team {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.our-team .team-intro h1 {
    text-transform: uppercase;
    font-size: 16px;
    color: orangered;
}

.our-team .team-intro h2 {
    text-transform: capitalize;
    font-size: 30px;
    margin-top: 4px;
}

.our-team .team-intro p {
    font-size: 18px;
    margin-top: 2px;
}


.our-team .team-desc {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}


.our-team .team-desc .person-container {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    cursor: pointer;
    border-radius: 26px;
    transition: .6s all ease-in-out;
    border: 1px solid lightgray;
}


.our-team .team-desc .person-container:hover {
    background-color: #023339a4;
    transform: scale(1.1);
    border: none;
}


.our-team .team-desc .person-container img {
    width: 40%; 
    height: 32%;
    border-radius: 100%;
    border: 1px solid lightgray;
}

.our-team .team-desc .person-container h2 {
    align-self: flex-start;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 20px;
}

.our-team .team-desc .person-container h1 {
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: orangered;
}

.our-team .team-desc .person-container p {
    margin-top: 6px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1.3px;
}

.testimonial {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testimonial-heading h1{
    font-size: 40px;
    text-transform: capitalize;
    color: orangered;
}

.testimonial-heading p {
    margin-top: 3px;
    font-size: 20px;
}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    gap: 30px;
}

.testimonial-card {
    background-color: white;
    width: 22%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    cursor: pointer;
    border: 1px solid lightgray;
    transition: .6s all ease-in-out;
}

.testimonial-card:hover {
    transform: scale(1.1);
}

.person {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    padding-left: 30px;
}

.person img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    border-radius: 100%;
    border: 1px solid black;
}

.person h1 {
    text-transform: capitalize;
    font-size: 22px;
}

.person p {
    text-transform: capitalize;
    font-size: 22px;
    color: orangered;
}

.testimonial-card .person-desc {
    margin-top: 20px;
    padding-left: 30px;
}

.web-footer {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discuss-interior {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 32px;
    border-bottom: none;
    border-top: none;
    /*background: rgba(255, 68, 0, 0.7);*/
}

.discuss-interior h1 {
    font-size: 60px;
    margin: 15px 0px;
    color: rgb(255, 68, 0);
}

.discuss-interior p {
    font-size: 26px;
}

.buttons {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.buttons button {
    width: 220px;
    height: 55px;
    cursor: pointer;
    font-size: 20px;
    margin: 25px 0px;
    outline: none;
    transition: .6s all ease-in-out;
}

.buttons #phone {
    transition: .6s all ease-in-out;
    border: none;
}

.buttons #phone:hover {
    color: orangered;
    border: none;
}

.buttons #contact {
    background: transparent;
    border: 1px solid lightgray;
    transition: .6s all ease-in-out;
}

.buttons #contact:hover {
    color: black;
    border: 1px solid black;
}

.footer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 60px;
    background-color: lightgray;
    margin-top: 30px;
}

.footer-div {
    margin-top: 40px;
    width: 30%;
}

.footer-div h1 {
    text-transform: capitalize;
    font-size: 18px;
    color: orangered;
}

.footer-div ul {
    margin-top: 30px;
}

.navigation {
    padding-left: 100px;
}

.footer-div ul li{
    list-style-type: none;
    margin: 20px 0px;
    text-transform: capitalize;
    font-size: 16px;
}

.footer-div ul li a {
    text-decoration: none;
    transition: .6s all ease-in-out;
}

.footer-div ul li a:hover {
    padding-left: 5px;
    color: orangered;
}

.news-desc {
    display: flex;
    gap: 10px;
    margin: 10px 0px;
    transition: .4s all ease-in-out;
    cursor: pointer;
}

.news-desc:hover {
    opacity: 0.5;
}

.news-desc img {
    height: 120px;
    width: 200px;
}

.news-desc h2 {
    text-transform: uppercase;
    font-size: 16px;
}

.news-desc p {
    width: 70%;
    font-size: 18px;
}

.social p{
    font-size: 18px;
    margin-top: 10px;
}

.social form {
    margin-top: 20px;
}

.social form input {
    width: 50%;
    height: 45px;
    padding-left: 12px;
    font-size: 16px;
    border-radius: 22px;
    outline: none;
    border: 1px solid lightgray;
}

.social form button {
    height: 45px;
    width: 100px;
    font-size: 15px;
    text-transform: capitalize;
    border: 1px solid lightgray;
    cursor: pointer;
    border-radius: 22px;
    transition: .6s all ease-in-out;
}

.social form button:hover {
    background-color: orangered;
    color: white;
}

#social-header {
    margin-top: 50px;
}

.social-links {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.social-links i {
    font-size: 18px;
    cursor: pointer;
    transition: .6s all ease-in-out;
}

.social-links i:hover {
    color: orangered;
}


/* MEDIA QUERIES */
@media (max-width: 599px) {
    body {
        background-color: white;
    }

    .homepage {
        height: 100vh;
    }

    .header {
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header h1 {
        font-size: 20px;
        padding-left: 5px;
    }

    .header i {
        display: block;
        margin-right: 6px;
    }

    .header ul {
        display: none;
    }

    .home-content {
        height: 95dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home-content h1 {
        font-size: 40px;
    }

    .home-content p {
        /*width: 60%;*/
        margin-top: 10px;
        font-size: 18px;
    }

    /* SECOND WEBPAGE */
    .about {
        width: 100%;
        height: fit-content;
        background-color: white;
        flex-direction: column;
    }

    .about div {
        width: 100%;
        margin-top: 20px;
        /*border: 1px solid black;*/
    }

    .about .about-content {
        height: 50%;
        padding: 0px 30px;
    }

    .about-content h1 {
        font-size: 15px;
    }

    .about-content header {
        font-size: 30px;
    }

    .about-content p {
        font-size: 16px;
        margin: 8px 0px;
    }

    .about-content button {
        width: 130px;
        height: 30px;
    }

    .about-image img {
        width: 90%;
        height: 500px;
    }

    /* THIRD WEBPAGE */

    .services {
        height: fit-content;
        margin-top: 20px;
    }

    .service-header h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    .service-header p {
        width: 90%;
        margin: 10px auto;
        font-size: 18px;
    }


    .service-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-around;
        width: 100%;
        margin-top: 30px;
    }

    .service-content .card {
        width: 90%;
        margin: 0px auto;
        border: 1px solid lightgray;
    }

    .service-content .card p {
        margin: 10px auto;
        width: 70%;
    }

    .numbers {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .numbers div {
        width: 100%;
        display: flex;
    }

    .numbers div h1 {
        width: 40%;
        height: 20%;
        text-align: right;
        color: orange;
        font-size: 50px;
    }

    .numbers div header {
        width: 60%;
        height: 20%;
        font-size: 20px;
        text-transform: uppercase;
    }

    .projects {
        display: none;
    }

    .our-team {
        margin-top: 50px;
        height: fit-content;
    }

    .our-team .team-intro h1{
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    .our-team .team-intro h2 {
        margin: 0;
        padding: 0;
        font-size: 24px;
    }

    .our-team .team-intro p {
        font-size: 14px;
    }

    .our-team .team-desc {
        padding-top: 10px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .our-team .team-desc .person-container {
        width: 80%;
        height: 400px;
    }

    .our-team .team-desc .person-container:hover {
        transform: scale(0.9);
    }

    .our-team .team-desc .person-container img {
        width: 55%; 
        height: 35%;
    }
    
    .our-team .team-desc .person-container h2 {
        font-size: 16px;
    }
    
    .our-team .team-desc .person-container h1 {
        font-size: 16px;
    }
    
    .our-team .team-desc .person-container p {
        font-size: 14px;
    }

    .testimonial {
        margin-top: 50px;
        height: fit-content;
    }

    .testimonial-heading h1{
        font-size: 30px;
    }

    .testimonial-heading p {
        font-size: 22px;
        margin: 12px 0px;
    }

    .testimonials {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .testimonial-card {
        width: 80%;
        height: 300px;
        margin: 4px 0px;
    }

    .testimonial-card:hover {
        transform: scale(1.03);
    }

    .discuss-interior {
        width: 100%;
    }

    .discuss-interior h1{
        font-size: 42px;
    }

    .discuss-interior p {
        font-size: 22px;
        padding: 0px 6px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-top: 18px;
    }

    .buttons button {
        margin: 0;
        padding: 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-div {
        width: 80%;
    }

    .footer-div h1 {
        font-size: 25px;
    }

    .navigation {
        padding-left: 0px;
    }

    .navigation ul li {
        font-size: 18px;
    }

    .news-desc img{
        width: 400px;
    } 

    .news-desc h2 {
        font-size: 16px;
    }

    .news-desc p {
        font-size: 14px;
        width: fit-content;
        margin-top: 6px;
    }

    .social form {
        display: flex;
        flex-direction: column;
    }

    .social form input {
        width: 90%;
    }

    .social form button {
        margin-top: 8px;
    }

    .social-links {
        margin-bottom: 1cqi;
    }

}
