* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.homepage {
    width: 100%;
    background: #02333915;
}

.header {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 25px;
    padding-left: 12px;
}

.header h1 span {
    color: orangered;
}

.header ul li {
    display: inline-block;
    margin: 0 35px;
}

.header ul li a {
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    transition: .6s all ease-in-out;
}

.header ul li a:hover {
    color: orangered;
}

.home-content {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-content h1 {
    font-size: 60px;
}

.home-content h1 span {
    color: orangered;
}

.home-content p {
    width: 60%;
    margin-top: 10px;
    font-size: 18px;
}

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about div {
    width: 45%;
}

.about .about-content {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.about-content h1 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.about-content header {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 15px;
}

.about-content p {
    font-size: 18px;
    margin: 8px 0px;
}

.about-content button {
    width: 150px;
    height: 40px;
    margin-top: 15px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    text-transform: capitalize;
    background-color: #023339;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: white;
    transition: .4s all ease-in-out;
}

.about-content button:hover {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 22px;
    border-bottom-right-radius: 22px;
    color: #023339;
    border: 1px solid black;
    background: transparent;
}

.about-image {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.about-image img {
    width: 80%;
    height: 600px;
}

.services {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-header h1 {
    font-size: 40px;
}

.service-header p {
    margin-top: 10px;
    font-size: 20px;
}

.service-content {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin-top: 30px;
}

.service-content .card {
    width: 31%;
    border-radius: 22px;
    cursor: pointer;
    border: 1px solid lightgray;
    transition: .7s all ease-in-out;
}

.service-content .card:hover {
    background: #023339;
    color: white;
}

.service-content .card h1 {
    margin-top: 30px;
    text-transform: capitalize;
    font-weight: 600;
}

.service-content .card p {
    margin: 10px auto;
    width: 70%;
}

.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}

.project-content {
    display: flex;
}

.project-content img {
    height: 500px;
    width: 600px;
    margin: 0px 10px;
}